name: 'Terraform'

on:
  push:
    branches: [ "main" ]
    paths:
      - 'Terraform/**'
  pull_request:
    paths:
      - 'Terraform/**'
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  
jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    environment: production

    defaults:
      run:
        shell: bash
        working-directory: Terraform 

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Terraform Init with backend config
        run: |
          terraform init \
            -backend-config="resource_group_name=storageaccount" \
            -backend-config="storage_account_name=terraformstatejb" \
            -backend-config="container_name=tfstate" \
            -backend-config="key=dev.terraform.tfstate"

      - name: Terraform Plan
        run: terraform plan -var-file="dev.tfvars"

      # - name: Terraform Apply
      #   run: terraform apply -var-file="dev.tfvars" -auto-approve
      
      - name: Terraform Destroy
        run: terraform destroy -var-file="dev.tfvars" -auto-approve
